	@font-face {
		font-family: 'Bembo';
		src: url('../fonts/BemboStd.eot');
		src: url('../fonts/BemboStd.eot?#iefix') format('embedded-opentype'), url('../fonts/BemboStd.woff') format('woff'), url('../fonts/Bembo.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
	}

	@font-face {
		font-family: 'TradeGothic20';
		src: url('../fonts/TradeGothic20.eot');
		src: url('../fonts/TradeGothic20.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothic20.woff') format('woff'), url('../fonts/TradeGothic20.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
	}

	@font-face {
		font-family: 'TradeGothic18';
		src: url('../fontsTradeGothic18.eot');
		src: url('../fonts/TradeGothic18.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothic18.woff') format('woff'), url('../fonts/TradeGothic18.ttf') format('truetype');
			font-weight: bold;
			font-style: normal;
	}

	body {
		color: #5d5d5d;
		font-family: Helvetica, Arial, sans-serif;
	}
/*
	h3 {
		font-family: 
		margin: auto;
		margin-top: 50px;
		text-align: right;
		color: black;
		}
*/
	.mapHeader{
		font-family: 'TradeGothic20';
    	font-size: 40px;
    	font-weight: bold;
		color: black;
		text-align: right;
		}

    .loopScript {
	    pointer-events: auto;
    }

    .container {
    	max-width: 800px;
		margin: auto;
    }

    .mapael .map {
    	position: relative;
    }

    .mapael .mapTooltip {
    	position: absolute;
		background-color: #fff;
		moz-opacity: 0.95;
		opacity: 0.95;
		filter: alpha(apacity=70);
		border-radius: 10px;
		padding: 10px;
		z-index: 1000;
		max-width: auto;
		display: none;
		color: #343434;
		offset: 10;
    }


	#tab {
		display:inline-block;
		margin-left: 40px;
	}

	.font {
		text-indent: 5em;
	}
