  body {
      color: #5d5d5d;
      font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
      font-size: 20px;
      margin: auto;
      margin-top: 50px;
    }

    .container {
      max-width: 800px;
      margin: auto;
    }

    .mapael .map {
      position: relative;
    }

    .mapael .mapTooltip {
      position: absolute;
      background-color: #fff;
      moz-opacity: 0.95;
      opacity: 0.95;
      filter: alpha(apacity=70);
      border-radius: 10px;
      padding: 10px;
      z-index: 1000;
      max-width: auto;
      display: none;
      color: #343434;
    }